<form action="/form" method="post"><center>
	<br><br>
  What City? <input type="text" name="message" placeholder="Put your city name in here!">
  <input type="submit" value="Get time"></center>
</form>